
//colors used on the page//
$primary-color: #323232;
$inactive-color: #afafaf;
$color-dark-background:#ffffff;
$color-gallery:#fafafa;
//breakpoints for different screens//

$mobile-breakpoint:320px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1280px;

//padding for diffrent boxes//
$padding-small:0.3rem;
$padding-large:0.5rem;