@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;


*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
  }

body {
    margin: 0;
    font-family: 'Avenir';
}

/* */
.header{
    background-color: #323232;
    color:$color-dark-background;
    text-align: center;
    width:100%;

    &__box{

        @include tablet{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0rem 1rem 0 2rem;
        }

    }

    &__titlebox{
        padding:1rem;
    }
}

.nav{

    &__list{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item{
       list-style: none;
       border-bottom: 2px solid transparent;

       @include mobile{
           padding: 0 2rem;
       }

       &:hover{
           border-bottom: 2px solid #fff;

       }

       @include tablet{
        padding: 1rem;
        }
    }

    &__link{
        text-decoration: none;
        color:$color-dark-background;
    }
}

.hero{
    width:100%;
    
    &__box{
        background:linear-gradient(
            rgba(50, 50, 50, 0.50), 
            rgba(50, 50, 50, 0.50)), url('../assets/images/hero-bio.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;;
        width:100%;
        position: relative;

        @include mobile{
            max-width:100%;
            height:30vh;

        }

        @include tablet{
            height:70vh;
        }

        @include desktop{
            height:95vh;
        }

        
    }

    &__name{
        position: absolute;
        bottom:12rem;
        left:9rem;
        color:$color-dark-background;
        font-size: 3rem;

        @include mobile{
            bottom:5rem;
            left:1rem;
            font-size: 1.5rem;
            font-family: 'Avenir';
            font-weight: 400;
        }
        @include tablet{
            bottom:10rem;
            left:4rem;
            font-size: 3rem;
            font-family: 'Avenir';
            font-weight: 600;
        }

        @include desktop{
            bottom:20.5rem;
            left:4rem;
            font-size: 3rem;
            font-family: 'Avenir';
            font-weight: 600;
        }
    }
}    

.about{
    padding:1rem;
    color:$primary-color;
    width:100%;

    @include tablet{
        padding:3rem;
    }
    &__content{

        /*resizing the about section with increasing width*/
        @include tablet{
            width:90%;
            margin:0 auto 0 auto;
        }
        @include desktop{
            width:80%;
        }
    }

    &__imagebox{
       text-align: center;
    }

    &__image{
        width:100%;

        @include tablet{
            width:100%;
        }
    }

    &__heading{
        padding: 0.5rem;

        @include tablet{
            padding:1rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    &__caption{
        font-weight: 600;
        padding: 0.3rem;
        line-height: 1.5;
    }

    &__quotes{
        padding: 0.3rem;

        @include tablet{
            font-size: 1.2rem;
            padding:0.5rem;
        }
    }
 /*resizing the font for quotes section with increasing width*/
    &__quotedby{
        @include tablet{
            font-size: 0.8rem;
            padding: 0rem 0.5rem;
        }

        @include desktop{
            font-size: 1rem;
        }
    }
    &__details{
        padding:0.3rem;

        &--{
            padding:0.3rem;
            font-weight: 600;
        }
    }

    &__box{
    /*turning the paragraph into two columns using flex and giving it equal width*/
        @include tablet{
            display: flex;
            flex-basis: 100%;
        }
    }

    &__split{
        padding:0.3rem;

        @include tablet{
            font-size: 0.9rem;;
        }
    }

}
/* about section ends here*/
.gallery{
    background-color: $color-gallery;
    padding:1rem;
    text-align: left;

    &__heading{
        font-weight: 600;

         @include tablet{
         padding: 1rem;
         margin: 0 4rem; 
         font-size: 2rem;
        }
        
    }

    /*the gallery box wraped for tablet and desktop versions*/
    &__box{
        
        @include tablet{
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: center;
         align-items: center;
        }
    }
    /*the image box given a grayscale of 100% and  with a color  hover effect*/
    &__images{
        filter: grayscale(100%);

        &:hover{
            filter: none;
        }
    
        @include mobile{
          max-width:100%;
          padding: 0.5rem;
        }

        @include tablet{
          max-width:30%;
          padding: 0.5rem;
        }
    } 
}

.footer{
    background-color: $primary-color;
    color:$color-dark-background;
    padding:0.5rem;
    font-size: 0.7rem;
    width:100%;

    &__container{
        padding:0.5rem;
        width:100%;
/*the container is made flex with four boxes which wraps with increase in screen size*/
        @include tablet{
            display:flex;
            flex-wrap: wrap;
            justify-content:space-between;
        }

        @include desktop{
            padding:1rem 6rem;

        }
    }//container ends here//
    &__mainbox{
        width:100%;
    }


    &__heading{
        font-weight: 400;

        @include mobile{
           margin-bottom:1.5rem;
        }

        @include tablet{
            margin-bottom:0;
            font-size: 2rem;
        }
    }
    /*all the boxes given an order so that they 
    wrap up and position according to their order*/
    &__iconbox{
        padding:0.3rem;
        font-size: 1.3rem;

        @include tablet{
            width:50%;
            order:1;                     //order 1//
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
        }
    }

    &__social{

        @include tablet{
            padding: 1rem;
        }
    }
       

    &__icon{
        margin-right:1.3rem;
    }

    &__infobox{
        font-size: 0.9rem;


        @include tablet{
            width:100%;
            display: flex;
            justify-content: flex-start;
            order:3;
        }                     //order 3//

    }

    &__mainbox{
        padding: 0.3rem;

        @include tablet{
            width:30%;
        }
    }

    &__subheading{
        padding:0.3rem;
        font-weight: 300;

        @include tablet{
            font-size: 0.9rem;
        }
    }
    &__address{
        padding:0.3rem;

        @include tablet{
            font-weight: 400;
            font-size: 0.7rem;
            padding: 1rem 0.3rem;
        }

        @include desktop{
            font-size: 0.8rem; 
        }
    }
    &__email{
        padding:0.3rem;


        @include tablet{
            padding:0.3rem;
            font-size: 0.7rem;
        }
    }

    &__bandsite{
        padding:0.5rem;

        @include tablet{
            order:2;                 //order 2//
            width: 20%;
            text-align: center;
            margin-top: 1rem;}        
    }

    &__copyright{
        padding:0.5rem;


        @include tablet{
            order:4;                //order 4//
            padding:0.5rem;
        }

        @include desktop{
        justify-content: space-around;
        }
    }
}