@use './partials/variables' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;


*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
  }

body {
    margin: 0;
    font-family: 'Avenir';
}


.header{
    @include headermix();
}

.nav{
    @include navigation();
}

.footer{
    @include footer();
    
}

.hero{
    position:relative;

    &__box{
        background:linear-gradient(
            rgba(50, 50, 50, 0.50), 
            rgba(50, 50, 50, 0.50)), url('../assets/Images/hero-shows.jpg');
        @include hero-background();
        height: 38vh;
        

        @include tablet{
            height:80vh;
            @include hero-background();
        }

    }

    &__name{
        color:$color-dark-background;
        font-weight: 400;
        font-size: 1rem;
        padding: 1rem;


        @include tablet{
            font-size: 1.7rem;
            padding: 2rem 2.7rem;
        }
        @include desktop{
            font-size: 2rem;
            padding: 5rem 1rem;
        }
    }

    &__songname{
        color:$color-dark-background;
        font-weight: 600;
        font-size: 2rem;
        padding: 0 1rem;
        width:100%;

        @include tablet{
            font-size: 3rem;
            padding: 0 2.5rem;
            margin-top:3rem;
            width:70%;
        }

        @include desktop{
            font-size: 4rem;
            padding: 0 1rem;
            width:40%;
        }
    }

    &__music{
        width:90%;
        height:17vh;
        position:absolute;
        left: 1.2rem;
        bottom: 1rem;
        font-size: 0.5rem;

        @include tablet{
            width: 50%;
            bottom:6rem;
            left:3rem;
        }

        @include desktop{
            width:30%;
            top:16rem;
            left:60rem;
            height:20vh;
        }
    }  
}

.show{
    width: 100%;

    @include tablet{
        display: flex;
        justify-content: flex-end;
        padding:1rem;     
    }

    &__container{

        @include tablet{
            width:100%;
            margin-right: 2rem;
            }

        @include desktop{
            width: 70%;
        }    
    }

    &__box{

        display: flex;
        padding: 1rem;
        border-bottom: 2px solid $primary-color;

        @include mobile{
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        border-bottom: 2px solid $divider-line;}


        @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;
        border-bottom: 2px solid $divider-line;
        width:100%;
            
        }
    }
        

    &__button{
        width:95%;
        height:5vh;
        background-color: #323232;
        color: #fff;
        border:none;
        font-weight:600;
        border-radius: 5%;
        margin:0.5rem;

        @include tablet{
            width: 15%;
            border-radius: 10%;
            height:5vh;
        }
    }

    &__title{
        color:$secondary-color;
        font-weight: 600;
        font-size: 0.7rem;
        padding:0 $padding-large;

        @include tablet{
            display: none;
        }
    }
    &__venue{
        padding: $padding-large;

        @include tablet{
            width:22%;
        }
    }
    &__date{
        padding: $padding-large;

        @include tablet{
            width:22%;
            text-align: left;
        }
    }
    &__location{
        padding: $padding-large;

        @include tablet{
            width:22%;
        }
    }
}

.show-head{
    display: flex;

    &__subheading{
        display: flex;
        display: none;
    }
}

.show-container{

    @include tablet{
        display: flex;
        flex-direction: column;

    }
    @include desktop{

    }


    &__title{
        font-size: 2.2rem;
        padding: 1rem 1.5rem;
        font-weight: 600;


        @include tablet{
            font-size: 2rem;
            text-align: left;
            padding:0;
            margin-bottom: 2rem;        
        }

        @include desktop{
            margin-bottom: 0;
        }
    }

    &__headbox{


        @include tablet{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width:80%;
        }
    }

    &__subheading{
        display: none;

        @include tablet{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 63%;
            padding: 0.5rem;
            font-weight: 400;
            font-size: 0.7rem;
            color: $divider-line;

        }

        @include desktop{
            display: flex;  
            width: 52%;
            padding: 0;      
        }

    }

    
}